In [1]:
import pandas as pd

In [3]:
df=pd.read_excel(r"C:\Users\Admin\Downloads\Programs\Daily_Interviews.xlsx")

In [4]:
df

,Name,position,Unnamed: 2,contact no,Date,Time,Status,Unnamed: 7
0,Vishal Mohan,POS implementation,NaN,9.891123e+09,4th Aug,4pm,rejected,NaN
1,Anand Swaroop,POS implementation,NaN,9.540973e+09,4th Aug,5pm,rejected,NaN
2,Manoj Kumar Mishra,POS implementation,NaN,9.718293e+09,4th Aug,1pm,no response,NaN
3,Vijay Sakshi,Tech Lead .net,NaN,9.717006e+09,4th Aug,2pm,withdrawn,NaN
4,Rakesh Kumar Sinha,Tech Lead .net,NaN,8.750268e+09,5th Aug,1pm,withdrawn,NaN
5,Harsha,Delivery Mgr,NaN,9.999288e+09,6th Aug,4pm,offered,NaN
6,Rajesh Kumar Tiwari,Tech Lead .net,NaN,9.811523e+09,6th Aug,3pm,withdrawn,NaN
7,Yatish Vyas,Program Manager,NaN,8.209428e+09,6th Aug,6:15pm,R1 select,NaN
8,Ashutosh Singhal,Program Manager,NaN,9.958124e+09,8th Aug,9am,rejected,NaN
9,Subhajit Dey,Subhajit Dey,NaN,9.830492e+09,11th Aug,4pm,rejected,NaN
10,Dhanjit Kumar,POS implementation,NaN,9.654283e+09,13th Aug,2pm,rejected,NaN
11,Varun Gupta,Software Developer,NaN,9.560603e+09,16th Aug,5PM,L1 done,NaN
12,Tejas s,Software Developer,NaN,8.000232e+09,16th Aug,6PM,L1 done,NaN
13,Jitin,Delivery Mgr,NaN,7.827873e+09,16th Aug,12PM,dropped,NaN
14,Aniket Gupta,POS implementation,NaN,8.076953e+09,19th Aug,3pm,rejected,NaN
15,Bhawna Singh,Cyber Security,NaN,9.818318e+09,23rd Aug,5:30pm,L2,NaN
16,Kartkey,cargil,NaN,NaN,NaN,NaN,offered,NaN
17,Mohit,cargil,NaN,NaN,NaN,NaN,R1 select,NaN
18,Gaurav Bhatt,Devops Manager,NaN,9.811813e+09,2nd Sep,15:00:00,L1,NaN
19,Abhineet Saxena,Devops Manager,NaN,8.800273e+09,NaN,NaN,NaN,NaN
20,Ajay Kumar Sharma,Sap Lead Consultant,NaN,8.299790e+09,3rd sep,11:00:00,done,NaN
21,Rahul Sachan,Sap Lead Consultant,NaN,9.953728e+09,3rd sep,11:15:00,done,NaN
22,Ashish Kumar,Sap Lead Consultant,NaN,9.717709e+09,3rd sep,11:30:00,done,NaN
23,Anurag Gupta,bombardier,NaN,7.668260e+09,4th Sep,10:00:00,done,NaN
24,Rajesh Sayal,Cyber Security,NaN,9.650626e+09,13th sep,3pm,rejected,NaN
25,Kunal Seth,project mgr,Jubilant,9.868751e+09,13th Sep,1pm,inteview done,NaN
26,Anand Kumar,Sap fICO,Jubilant,9.560052e+09,15th Sep,11am,inteview done,NaN
27,Rohit Mandhania,Sap fICO,Jubilant,9.561039e+09,14th Sep,4pm,inteview done,NaN
28,Omkar Dipak Gaonkar,Drupal Dev,Cummins,7.709902e+09,14th Sep,2pm,inteview done,NaN
29,Rewant Ram,POS,Jubilant,8.000931e+09,21st Sep,12pm,rejected,NaN
30,Sandeep Date,Drupal Dev,Cummins,8.928765e+09,21st Sep,14:00:00,inteview done,NaN
31,Suryashankar Dasgupta,Embedded Eng,Cummins,8.017847e+09,23rd Sep,4:30pm,inteview done,NaN
32,Aditi,Drupal Dev,Cummins,9.164744e+09,22nd Sep,2pm,inteview done,NaN
33,Karan Sapate,Drupal Dev,Cummins,NaN,23rd Sep,NaN,NaN,NaN
34,Alok Kumar Asthana,GM-IT,Jubilant,9.818624e+09,23rd Sep,1pm,inteview done,NaN
35,Tauheed Ahmad,Tech Lead-iOS,Jubilant,9.953500e+09,23rd Sep,12pm,dropped,NaN
36,Mukesh Kumar Singh,Tech Lead-iOS,Jubilant,9.958330e+09,28th sep,3pm,NaN,NaN
37,Purushottam Kumar,Sr. Manager-IT,Jubilant,8.877652e+09,27th Sep,1pm,NaN,NaN
38,Ratan Singh,Delivery Mgr,Jubilant,9.711933e+09,28th sep,1pm,NaN,NaN
39,Vishal Kumar,POS,Jubilant,9.312806e+09,29th Sep,3pm,NaN,NaN
40,Mukesh Kumar,GM-IT,Jubilant,8.860320e+09,29th Sep,11:30am,NaN,NaN
41,Amit Pandey,Tech Lead-iOS,Jubilant,9.990080e+09,29th Sep,3pm,NaN,NaN

In [6]:
a=pd.read_csv(r"C:\Users\Admin\Downloads\Programs\ppp.csv")

In [7]:
a

,S.No,Candidate Name,Role,Phone,Email,Years of Exp,Education Qual,Institute Name,Current Company,Current Location,Current CTC,ECTC,NP,Status
0,1,Dinjit dinesh,Android Developer-Embedded,8286849693,ddinjit@gmail.com,3.60,MBA,Jamnalal Bajaj Institute of Management Studies...,Yocket,Mumbai,6.75 LPA,NaN,30 Days,Not looking for job change
1,2,Bharat Kumar,Android Developer-Embedded,7340300447,bharat_67@ymail.com,4.40,B.Tech,"NIT, Agartala",Competenza Innovare,Jaipur,4.2 LPA,NaN,NaN,Not looking for job change
2,3,Shubham Soni,Android Developer-Embedded,8210841346,96shubhamsoni@gmail.com,4.00,B.Tech,"Indian School of Mines (ISM), Dhanbad",Impartus Innovations,Kanpur,14 LPA (Inc 1.4 Lac variable),40% hike,60 Days (Nego),not relevant
3,4,Nanthakumar R,Android Developer-Embedded,8072401425,nanthu.vit@gmail.com,6.00,B.Tech,Vellore Institute of Technology (VIT),Payoda Technologies,Coimbatore,21.80 LPA,NaN,90 Days,Not looking for job change
4,5,Divya K,Android Developer-Embedded,9515331565,kdivya.iitm@gmail.com,3.60,B.Tech,"Indian Institute of Technology, Madras (IIT-M)",NaN,Hyderabad,14 LPA,NaN,NaN,Not looking for job change
5,6,Ankit Wala,Android Developer-Embedded,8082762674,walaankit921@gmail.com,4.00,M.Tech,"Indian Institute of Technology (IIT), Mumbai",Tata Digital Pvt Ltd,Mumbai,14 LPA (Inc 1.4 Lac variable),21 LPA,90 Days (Nego),not relevant
6,7,Sahil Chhabra,Android Developer-Embedded,8847272448,sahilchhabra884@gmail.com,6.10,B.Tech,Vellore Institute of Technology (VIT),Talentica Software,Chandigarh,18 LPA (16.5 fixed),26 LPA,45 Days,not relevant
7,8,Rishikesh Rahi,Android Developer-Embedded,9614138911,rishikeshrahi1994@gmail.com,4.00,B.Tech,"National Institute of Technology, Durgapur",TATA POWER,Kolkata,8.20 LPA,NaN,30 Days,Not looking for job change
8,9,Prakhar Sinha,Android Developer-Embedded,7982901643,prakhar.s4392@gmail.com,6.00,B.Tech,"Birla Institute of Technology (BIT), Ranchi",Times Internet,Delhi,24 LPA,35 LPA,30 Days,No Embedded exp
9,10,Isha Rokade,Android Developer-Embedded,9403492937,isharokade1@gmail.com,4.70,M.Tech,Birla Institute of Technology and Science (BIT...,MarkMyDairy Technologies,NaN,4.45 LPA,NaN,15 Days,call not received
10,11,Sony Mathew,Android Developer-Embedded,8095446655,sonym001@gmail.com,6.00,M.Tech,Birla Institute of Technology and Science (BIT...,Y Media Labs,Bangalore,21.5 LPA,NaN,30 Days,call not received
11,12,Amrit Thakur,Android Developer-Embedded,8839549987,iitgt.amrit@gmail.com,3.11,B.Tech,Indian Institute Of Technology - Guwahati,ICICI Bank,Mumbai,18.80 LPA,NaN,30 Days,No Embedded exp

In [8]:
current working library

SyntaxError: invalid syntax (<ipython-input-8-bf478d8400da>, line 1)

In [9]:
current working directory

SyntaxError: invalid syntax (<ipython-input-9-1101b396892a>, line 1)

In [10]:
import os

In [12]:
os.getcwd()

'C:\\Users\\Admin'

In [13]:
z=pd.read_excel("Daily_Interviews")

FileNotFoundError: [Errno 2] No such file or directory: 'Daily_Interviews'